@model KnittingCore2.Models.Patrones

<h4>Buscar Patrones</h4>
<hr />

<form asp-action="Buscar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NombrePatron" class="control-label" , htmlAttributes: new { @style="max-width:150px" }></label>
                    <input asp-for="NombrePatron" class="form-control" />
                    <span asp-validation-for="NombrePatron" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdAutorPatron" class="control-label" , htmlAttributes: new { @style="max-width:150px" }></label>
                    <select asp-for="IdAutorPatron" class="form-control" asp-items="ViewBag.IdAutorPatron"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdLana" class="control-label" , htmlAttributes: new { @style="max-width:150px" }></label>
                    <select asp-for="IdLana" class="form-control" asp-items="ViewBag.IdLana"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdPrendas" class="control-label" , htmlAttributes: new { @style="max-width:150px" }></label>
                    <select asp-for="IdPrendas" class="form-control" asp-items="ViewBag.IdPrendas"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdRevistas" class="control-label"></label>
                    <select asp-for="IdRevistas" class="form-control" asp-items="ViewBag.IdRevistas"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdTiposCaract" class="control-label"></label>
                    <select asp-for="IdTiposCaract" class="form-control" asp-items="ViewBag.IdTiposCaract"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdTiposdeTejer" class="control-label"></label>
                    <select asp-for="IdTiposdeTejer" class="form-control" asp-items="ViewBag.IdTiposdeTejer"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdGenEdad" class="control-label"></label>
                    <select asp-for="IdGenEdad" class="form-control" asp-items="ViewBag.IdGenEdad"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Patron" class="control-label"></label>
                    @*<input type="file" value="Buscar" class="btn btn-info" />*@
                    <input asp-for="Patron" type="file" accept="application/pdf" class="form-control" />
                    @*<span asp-validation-for="Patron" class="text-left"></span>*@
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>
<div class="container col-lg-6">
    <div class="row">
        <img src="~/images/Foto3.jpg" class="img-responsive center-block" />
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}









@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <input type="hidden" asp-for="IdNombrePatron" />
                <div class="form-group">
                    <label asp-for="NombrePatron" class="control-label"></label>
                    <input asp-for="NombrePatron" class="form-control" />
                    <span asp-validation-for="NombrePatron" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdAutorPatron" class="control-label"></label>
                    <select asp-for="IdAutorPatron" class="form-control" asp-items="ViewBag.IdAutorPatron"></select>
                    <span asp-validation-for="IdAutorPatron" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdLana" class="control-label"></label>
            <select asp-for="IdLana" class="form-control" asp-items="ViewBag.IdLana"></select>
            <span asp-validation-for="IdLana" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdPrendas" class="control-label"></label>
            <select asp-for="IdPrendas" class="form-control" asp-items="ViewBag.IdPrendas"></select>
            <span asp-validation-for="IdPrendas" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdRevistas" class="control-label"></label>
            <select asp-for="IdRevistas" class="form-control" asp-items="ViewBag.IdRevistas"></select>
            <span asp-validation-for="IdRevistas" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdTiposCaract" class="control-label"></label>
            <select asp-for="IdTiposCaract" class="form-control" asp-items="ViewBag.IdTiposCaract"></select>
            <span asp-validation-for="IdTiposCaract" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdTiposdeTejer" class="control-label"></label>
            <select asp-for="IdTiposdeTejer" class="form-control" asp-items="ViewBag.IdTiposdeTejer"></select>
            <span asp-validation-for="IdTiposdeTejer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdGenEdad" class="control-label"></label>
            <select asp-for="IdGenEdad" class="form-control" asp-items="ViewBag.IdGenEdad"></select>
            <span asp-validation-for="IdGenEdad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patron" class="control-label"></label>
            <input asp-for="Patron" class="form-control" />
            <span asp-validation-for="Patron" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    </form>
    <div class="container col-lg-6">
        <div class="row">
            <img src="~/images/Foto3.jpg" class="img-responsive center-block" />
        </div>
    </div>*@




